{
  "presets": [
    ["env", {
      "targets": {
        "node": "0.10"
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "add-module-exports",
    "transform-regenerator",
    "transform-object-rest-spread"
  ],
  "ignore": [
    "node_modules/",
  ]
}
